<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>MySatanicBlog</title>
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-dark bg-dark">
		    <span class="navbar-brand mb-0 h1" style="font-weight: bold;  padding-left: 20px;">MySatanicBlog</span>
		</nav>
	</header>
	<section>
		<div class="container" style="widht: 60%; padding-bottom: 30px;">
			<nav aria-label="breadcrumb">
	            <ol class="breadcrumb" style="background-color: white; padding-left: 0px; margin-top: 20px;">
	                <li class="breadcrumb-item" aria-current="page"><a href="/posts">Posts</a></li>
	                <li class="breadcrumb-item active" aria-current="page">Novo Post</li>
	            </ol>
	        </nav>
	        <div>
	        	<th:block th:include="mensagemValidacao"></th:block>
	        	<form method="post">
	                <div class="form-group" style="margin-bottom: 20px;">
	                    <input type="text" class="form-control" name="titulo" placeholder="Título *">
	                </div>
	                <div class="form-group" style="margin-bottom: 20px;">
	                    <input type="text" class="form-control" name="autor" placeholder="Autor *">
	                </div>
	                <textarea id="summernote" type="text" class="form-control" name="texto" placeholder="Texto *"></textarea>
	                <small class="form-text text-muted">(*) Campos obrigatórios</small>
	                <div>
		                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Publicar</button>
		                <a href="/posts" class="btn btn-light" role="button" style="margin-top: 10px;">Cancelar</a>
		                <!--<button type="submit" class="btn" style="margin-top: 10px;">Cancelar</button>-->
	                </div>
            	</form>
	        </div>
		</div>
	</section>
	<script>
    $('#summernote').summernote({
        placeholder: 'Texto *',
        tabsize: 2,
        height: 300
    });
    </script>
</body>
</html>